* {
        border: 1px red solid;
}

a {
        color: #1f1f1f;
        font-family: 'Figtree', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
 }

.h1 {
        color: #1f1f1f;
        font-family: 'Figtree', Helvetica, Arial, Lucida, sans-serif;
        font-size: 70px;
 }

h2 {
        color: #1f1f1f;
        font-family: 'Figtree', Helvetica, Arial, Lucida, sans-serif;
        font-size: 30px;
 }

 #headshot {
        border-right: 20px solid #ABD5E6;
        border-bottom: 20px solid #ABD5E6;
        margin-top:-20px;
 }

 p {
        color: #1f1f1f;
        font-family: 'Figtree', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
 }
